lxml==5.4.0
networkx==3.3
onnxruntime>=1.23.2
pillow==12.1.1
ordered-set==4.1.0
protobuf==6.31.1
PyYAML==6.0.1
tqdm==4.66.4
pypdfium2==4.30.0
numpy==2.2.2
fastapi==0.111.0
uvicorn==0.29.0
tomli>=2.0.0; python_version < "3.11"
